<div id="str_main_monitor" class="str_main" ng-controller="mainRelatorios">

	<div id="div1_monitor" class="str_division">

		<div id="title_relatorio">
			<img src="img/Index/ICONES-05.svg" class="svg-icon title_relatorio_img">
			<p>Grafos e relatórios</p>
		</div>

		<div id="str_menu_relatorio">

			<div class="each_day_str">
				<p class="each_day_title">SÁBADO</p>
				
				<div id="str_time_temporalidade" >
					<div class="time_temporalidade" ng-click="">
						<p>08:00</p>
						<p>HORAS</p>
					</div>
					<div class="time_temporalidade" ng-click="">
						<p>13:00</p>
						<p>HORAS</p>
					</div>
				</div>
				
				<div class="each_relatorio_down">
					<img src="img/grafos/grafos-02.svg" class="svg-icon down_relatorio_img">
					<p class="each_relatorio_down_text_bold">RELATÓRIOS</p>
					<p class="each_relatorio_down_text">08:00 horas</p>
				</div>
				
				<div class="each_relatorio_down">
					<img src="img/grafos/grafos-02.svg" class="svg-icon down_relatorio_img">
					<p class="each_relatorio_down_text_bold">RELATÓRIOS</p>
					<p class="each_relatorio_down_text">13:00 horas</p>
				</div>
			</div>
			
			<div class="each_day_str">
				<p class="each_day_title">DOMINGO</p>
				
				<div id="str_time_temporalidade" >
					<div class="time_temporalidade" ng-click="">
						<p>08:00</p>
						<p>HORAS</p>
					</div>
					<div class="time_temporalidade" ng-click="">
						<p>13:00</p>
						<p>HORAS</p>
					</div>
				</div>
				
				<div class="each_relatorio_down">
					<img src="img/grafos/grafos-02.svg" class="svg-icon down_relatorio_img">
					<p class="each_relatorio_down_text_bold">RELATÓRIOS</p>
					<p class="each_relatorio_down_text">08:00 horas</p>
				</div>
				
				<div class="each_relatorio_down">
					<img src="img/grafos/grafos-02.svg" class="svg-icon down_relatorio_img">
					<p class="each_relatorio_down_text_bold">RELATÓRIOS</p>
					<p class="each_relatorio_down_text">13:00 horas</p>
				</div>
			</div>
			
			<div class="each_day_str">
				<p class="each_day_title">FINAL</p>
				
				<div id="str_time_temporalidade" >
					<div class="time_temporalidade" ng-click="">
						<p></p>
						<p></p>
						<p>FINAL</p>
						<p></p>
					</div>
				</div>
				
				<div class="each_relatorio_down">
					<img src="img/grafos/grafos-02.svg" class="svg-icon down_relatorio_img">
					<p class="each_relatorio_down_text_bold">RELATÓRIOS</p>
					<p class="each_relatorio_down_text">08:00 horas</p>
				</div>
			</div>
		</div>
	</div>

	<div id="div3_monitor" class="str_division div3_relatorios" ng-controller="ResultWords" style="background-color:#F8F9FA;">

		<p class="grafos_title">GRAFOS</p>

		<div id="str_time_temporalidade">
			<div class="time_temporalidade" ng-click="temporalidadeIndex(0); loadMoreTweets(0); changeTemporalidade(15);">
				<p>4</p>
			</div>
			<div class="time_temporalidade" ng-click="temporalidadeIndex(1); loadMoreTweets(0); changeTemporalidade(60);">
				<p>3</p>
			</div>
			<div id="temporalidade24" class="time_temporalidade fisrtTemp" ng-click="temporalidadeIndex(2); loadMoreTweets(0); changeTemporalidade(24);">
				<p>2</p>
			</div>
			<div class="time_temporalidade" ng-click="temporalidadeIndex(3); loadMoreTweets(0); changeTemporalidade(7);">
				<p>1</p>
			</div>
		</div>

		<div id="grafos_text_container">
			<p class="grafos_text_title">GRAFOS GERAL</p>
			<p class="grafos_text">Jeb Bush has ordered across-the-board pay cuts and slashed staff positions at his Miami headquarters — a drastic shake-up for a campaign that has performed far short of early expectations.

				According to an internal memo, Mr. Bush plans to reduce payroll costs by 40 percent this week, cut salaries for all but the most entry level staff members, cut travel costs by 20 percent and significantly reduce headquarters staff.

				A quarter will remain in Miami, a quarter have already been dispatched to early-voting states, and most of the rest are being offered positions in early states or as part of ballot access efforts, but with pay cuts, the memo said.

				“We will be working with staff today and going through each person’s situation, but expect sizable changes,” Danny Diaz, Mr. Bush’s campaign manager, said by email on Friday.</p>
		</div>

		<div id="grafos_visualizar">
			<img src="img/grafos/grafos-01.svg" class="svg-icon grafos_visualizar_img">
			<p>ABRIR VISUALIZAÇÃO INTERATIVA</p>
		</div>
	</div>

	<div id="div2_monitor" class="str_division">

	</div>
</div>

<script>
	$( document ).ready(function(){

		callSvgImg();
	});
</script>
