<div id="str_main_monitor" class="str_main facebook" ng-controller="mainFacebook">

  <div id="div1_monitor" class="str_division" style="padding-top: 30px;">

  <!-- <fb-themes-filter options="config.filter.main" filter="filter.tema"></fb-themes-filter> -->


    <!-- <div id="facebook-menu-choice">
      <button id="facebook-choice-button1" class="facebook-choice-button selected" ng-click="filter.type = 'publicacao'; " ui-sref="facebook.posts">
        <img src="img/facebook/COMEN%20E%20PUBLIC-02.svg" class="svg-icon facebook-choice-button-image">
        <p>PUBLICAÇÕES</p>
      </button>
      <button id="facebook-choice-button2" class="facebook-choice-button " ng-click="filter.type = 'comentario';" ui-sref="facebook.posts">
        <img src="img/facebook/COMEN%20E%20PUBLIC-01.svg" class="svg-icon facebook-choice-button-image">
        <p>COMENTARIOS</p>
      </button>
    </div> -->


    <fb-actors-filter options="config.filter.actors" filter="filter.actor"></fb-actors-filter>
    
    <div style="margin-left:calc(50% - 72px); float:left;">
      <period-filter type="single-option" options="config.filter.period.values" filter="filter.time"></period-filter>
    </div>
  </div>

  <div id="div3_monitor" class="str_division">
    <aside id="result_word" ui-view="facebook.word"></aside>
  </div>

  <div id="div2_monitor" class="str_division">

    <div class="title_str">
      <ul class="title_str_menu_icon">
        <li ui-sref="facebook.posts" class="select_title_division2 firstOpCont">
          <img src='img/twitter/ICONES-09.svg'>
        </li>
        <li ui-sref="facebook.postsImage" class="select_title_division2">
          <img src='img/twitter/ICONES-11.svg' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="facebook.postsMosaico" id="select_imgMosaico" class="select_title_division2" ng-click="filter.time = '7d'">
          <img src='img/icons/Mosaico.png' class="icon_menu_top" alt="image">
        </li>
      </ul>
    </div>

    <aside ui-view="facebook.conteudo" style="height:calc(100% - 50px); width:100%;"></aside>

  </div>
</div>

<script type="text/javascript">

  callSvgImg();

  $( document ).ready(function(){

    /*NOTA: Inicializando SwipeBox */

    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });

    /* Standard */
    /* menu centralizado com width variavel division2 */

    var menuIconWidth = $(".title_str_menu_icon").width();
    var resultMenuIconWidth = menuIconWidth/2;
    $(".title_str_menu_icon").css( "margin-left", "calc(50% - "+resultMenuIconWidth+"px" );

    /* Custom */

    $(".select_title_division2").click(function(){
      $(".select_title_division2").css( "opacity", "0.6" );

      $(this).css( "opacity", "1" );

      $(".select_title_division3").css( "opacity", "0.6" );
      $(".title_str_dualOP_1").css( "opacity", "1" );
    });

    /*NOTA: Troca actors */
    $(".facebook-choice-button").click(function(){
      $(".facebook-choice-button").removeClass('selected');
      $(this).addClass('selected');
    });
  });
</script>
