<div id="str_main_monitor" class="str_main facebook" ng-controller="mainFacebook">
  <div id="div1_monitor" class="str_division" style="padding-top: 30px; align-content: center;">
    <div class="row">
      <fb-actors-filter options="config.filter.actors" filter="filter.actor"></fb-actors-filter>
      <period-filter type="single-option" options="config.filter.period.values" filter="filter.time"></period-filter>
    </div>
  </div>

  <div id="div3_monitor" class="str_division">

    <div class="title_str">
      <ul class="title_str_dualOP">
        <li ui-sref="facebook.word" class="title_str_dualOP_1 select_title_division3 firstOpImg">
          <img src='img/icons/PALAVRAS.png'  class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="facebook.tag" class="title_str_dualOP_2 select_title_division3">
          <img src='img/icons/HASHTAG.png' class="icon_menu_top" alt="image" height="25px" width="25px">
        </li>
      </ul>
    </div>

    <aside id="result_word" ui-view="facebook.word&tag"></aside>
  </div>

  <div id="div4_monitor" class="str_division">

    <div id="str_display_tweet" class="row">
      <div class="col-md-6">
      <div class="display_tweet">
        <img src="img/icons/ICONE-FACE.png" height="50%" width="auto">
      </div></div>
      
      <div class="col-md-6">
      <div class="display_tweet">
        <b class="display_tweet_p">{{countPosts}}</b><br>
        <b>Posts</b>
      </div></div>
    </div>

    <div id="str_display_tweet" class="row">
      <div class="col-md-6">
      <div class="display_tweet">
        <img src="img/icons/ICONE-IMAGEM.png" height="50%" width="auto">
      </div></div>
      
      <div class="col-md-6">
      <div class="display_tweet">
        <b class="display_tweet_p">{{countImage}}</b>
        <b>Posts Imagem</b>
      </div></div>
    </div>
  </div>

  <div id="div2_monitor" class="str_division">

    <aside ui-view="facebook.conteudo" style="height:100%; width:100%;"></aside>

  </div>
</div>

<script type="text/javascript">

  callSvgImg();

  $( document ).ready(function(){

    /*NOTA: Inicializando SwipeBox */

    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });

    /* Custom */

    $(".select_title_division2").click(function(){
      $(".select_title_division2").css( "opacity", "0.6" );

      $(this).css( "opacity", "1" );

      $(".select_title_division3").css( "opacity", "0.6" );
      $(".title_str_dualOP_1").css( "opacity", "1" );
    });

    /*NOTA: Troca actors */
    $(".facebook-choice-button").click(function(){
      $(".facebook-choice-button").removeClass('selected');
      $(this).addClass('selected');
    });
  });
</script>
