<div style="height:100%;">
  <div>
    <div id="str_highWord" title='Clique para visualizar os ultimos retweets com a palavra "{{wordMouseEnter.word}}"' ng-click="filter.word = wordMouseEnter.word;">
      <p ng-hide="wordMouseEnter"class="title_str_highWord">Passe o mouse sobre as palavras para visualiza-las</p>
      <p ng-show="wordMouseEnter" class="title_str_highWord">{{wordMouseEnter.word}}</p>
      <p ng-show="wordMouseEnter" class="text_str_highWord"><span class="number_str_highWord">{{wordMouseEnter.count}}</span> vezes</p>
    </div>

    <div class="strVertical_highWord">
      <div title='Clique para visualizar os ultimos retweets com a palavra "{{wordv.word}}"' class="each_word" ng-repeat="wordv in words" ng-mouseenter="$parent.wordMouseEnter = wordv" ng-click="filter.word = wordv.word;">
        <p>{{wordv.word}}</p>
        <p ng-if="wordv.count == 1">{{wordv.count}} vez</p>
        <p ng-if="wordv.count != 1">{{wordv.count}} vezes</p>
      </div>
    </div>
  </div>
  <div class="str_fixed_words">
    <div class="fixed_words_title">
      <p>Categorias</p>
    </div>
    <p ng-repeat="conteudo in conteudos" ng-click="filter.categoria = conteudo.query;">{{conteudo.name}}</p>
  </div>
</div>
