<div style="height:50%;" data-ng-init="replyTopWords(filter.time,filter.profileType,filter.actor);replyTopTags(filter.time,filter.actor);">

  <div id="str_highWord">
    <p class="title_str_highWord">Nuvem de palavras</p>

    <div id="loadingFacebookTopWords" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorFacebookTopWords" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyFacebookTopWords" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>

    <div id="wordCloud" class="strVertical_highWord"></div>
  </div>
  
  <!-- <div class="str_fixed_words">
    <div class="fixed_words_title">
      <p>Temas mais frequentes</p>
    </div>
    
    <div id="loadingFacebookTopTags" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorFacebookTopTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyFacebookTopTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>
    
    <div id="str_topTags">
      <p ng-repeat="theme in themes" ng-click="filter.theme = theme.slug;">{{theme.label}}</p>
    </div>
  </div>  -->
</div>