<div ng-controller="conteudoLgbtMenu">
	<li ng-click="linkCat = ',%22conteudo-bissexualidade%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical1">BISSEXUALIDADE</li>
	<li ng-click="linkCat = ',%22conteudo-geral%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical2">GERAL</li>
	<li ng-click="linkCat = ',%22conteudo-heterofobia%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical3">HETEROFOBIA</li>
	<li ng-click="linkCat = ',%22conteudo-homossexualidade%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical4">HOMOSSEXUALIDADE</li>
	<li ng-click="linkCat = ',%22conteudo-lesbianidade%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical5">LESBIANIDADE</li>
	<li ng-click="linkCat = ',%22conteudo-transexualidade%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical6">TRANSEXUALIDADE</li>	
</div>