<div ng-controller="conteudoGeneroMenu">
	<li ng-click="linkCat = ',%22conteudo-anti_feminista%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical1">ANTI-FEMINISTA</li>
	<li ng-click="linkCat = ',%22conteudo-anti_feminista ambigua%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical2">ANTI-FEMINISTA AMBÍGUA</li>
	<li ng-click="linkCat = ',%22conteudo-contra aborto%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical3">CONTRA ABORTO</li>
	<li ng-click="linkCat = ',%22conteudo-contra aborto ambiguas%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical4">CONTRA ABORTO AMBÍGUA</li>
	<li ng-click="linkCat = ',%22conteudo-contra direitos humanos%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical5">CONTRA DIREITOS HUMANOS</li>
	<li ng-click="linkCat = ',%22conteudo-machismo%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical6">MACHISMO</li>
	<li ng-click="linkCat = ',%22conteudo-machismo ambiguo%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical7">MACHISMO AMBÍGUA</li>
	<li ng-click="linkCat = ',%22conteudo-pro_estupro%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical8">PRÓ-ESTUPRO</li>
	<li ng-click="linkCat = ',%22conteudo-pro_estupro ambiguas%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical9">PRÓ-ESTUPRO AMBÍGUO</li>
	<li ng-click="linkCat = ',%22conteudo-violencia%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical10">VIOLÊNCIA </li>
	<li ng-click="linkCat = ',%22conteudo-violencia ambigua%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical11">VIOLÊNCIA AMBÍGUA</li>
	<li ng-click="linkCat = ',%22conteudo-vitimismo%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical12">VITIMISMO</li>
	<li ng-click="linkCat = ',%22conteudo-vitimismo ambigua%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical13">VITIMISMO AMBÍGUO</li>
</div>