<div id="str_menu_tematica" class="themes">

  <ul id="menu_tematica" class="themes__main">
    <li
      class="themes__main-item menu_tematica_op"
      ng-class="{selected: filter==option.tag}"
      ng-repeat="option in options">
      <a href ng-click="setFilter(option, $event)">{{option.title}}</a>

      <ul class="hide themes__main-item-children" ng-if="option.children.length > 0">
        <li class="themes__main-item menu_tematica_op" ng-repeat="children in option.children">
          <a href ng-click="setFilter(children, $event)">{{children.title}}</a>
        </li>
      </ul>
    </li>
  </ul>

</div>
