html,body {
  font-family: helvetica, sans-serif;;
  background-color: #FFFFFF;
  border: none;
  width: 100%;
  color:#0072D4;
}

#conteudo {
  margin-right: 15%;
  margin-left: 18%;
  font-size: 15px;
  background-color: transparent;
  /*overflow-y: auto;*/
}

#conteudo input {
  background-color: #CECECE;
  border-radius: 5px;
  outline: none;
  box-shadow: 0;
  border:1px solid #D6D6D6;
  color:#0072D4;
  margin: 10px 5px 0px 0px;
  padding:3px 10px 3px 10px;
}

#paginaNoticia img {
  max-width: 60%;
  height: auto;
  width: auto;
  display: block;
  margin: auto;
}

.navbar, .navbar-inverse, .navbar-fixed-top {
  position: sticky;
  width: auto;
  height: 20%;
  z-index: 1;
  border: 1px gray;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.navbar-fixed-top img {
  max-width: 200px;
  height: 30px;
  width: auto;
  display: block;
  margin: auto;
}

.navbar-fixed-top input{
  background-color: transparent;
  width:40%;
  outline: none;
  border-radius: 10px;
  color: #2B3044;
  margin-top: 1%;
  border:2px solid #2B3044;
  padding: 3px 10px;
}

.navbar-fixed-top select {
  background-color: transparent;
  width:15%;
  outline: none;
  border: none;
  color:#4C3FD8;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
}

#notNovas img {
  width: 100%;
  height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  margin-top: 15%;
  border: 1px solid #888;
  width: 70%;
  height: auto;
}

.modal-content img, picture {
  align-self: center;
  max-width: 50%;
  height: auto;
  border: none;
  overflow-wrap: hidden;
}

/* The Close Button */
.close-heavy {
  float:right;
  margin-top:-30px;
  margin-right:-30px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px; 
}


.col-md-9 label:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*@media only screen and (max-width: 500px) {
    #conteudo {
      font-size: 40px;
    }

    .col-md-3 {
        display: none;
    }

    #exibicao {
      display: none;
    }
}*/
