.facebook-menu-tematica{
  border:none !important;
  margin-bottom: 0px !important;
}

#facebook-menu-choice{
  width: 90%;
  margin-left: 5%;
  padding: 5px;
  height: 60px;
  border-top: 1px dashed #1DBFD8;
  border-bottom: 1px dashed #1DBFD8;
  float:left;
}

.facebook-choice-button {
  width:50%;
  margin-top: 8px;
  height: 70%;
  float:left;
  background: transparent;
  font-weight: bold;
  font-size: 12px;
  color: #1DBFD8;
  opacity: 0.3;
  outline: 0;
}
.facebook-choice-button.selected {
  opacity: 1;
}


#facebook-choice-button1{
  border-right: 1px solid #22b573;
}

#facebook-choice-button1 .facebook-choice-button-image{
  float:left;
  margin: 0px 20px 0px 20px;
}

#facebook-choice-button1 p{
  float:left;
}

#facebook-choice-button2{
  border-left: 1px solid #22b573;
}

#facebook-choice-button2 .facebook-choice-button-image{
  float:right;
  margin: 0px 20px 0px 20px;
}

#facebook-choice-button2 p{
  float:right;
}

.facebook-choice-button-image{
  height: 18px;
  width: 18px;
}

#facebook-menu-actors{
  width: 100%;
  height: auto;
  float:left;
}

.facebook-actors-each{
  display: table;
  width: 370px;
  height: 70px;
  margin-left: 40px;
  padding-top: 10px;
  border-bottom: 3px dashed #426083;
  float:left;
  opacity: 0.3;
  cursor: pointer;
}

.facebook-actors-each.selected {
  opacity: 1;
}

.facebook-actors-each:last-child{
  border-bottom: none;
}

.facebook-actors-each-image{
  float:left;
  fill: #fff;
  height: 40px;
  width: 40px;
  margin: 5px 20px 0px 70px;
}

.facebook-actors-each p{
  height: 100%;
  color:white;
  width:100%;
  text-transform: uppercase;
  /*  float:left;*/
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
}

/* Menu 3º bloco */

.facebook-menu-icon{
  fill: black;
}

.facebook-images-title{
  color:white; white-space: nowrap;
  overflow:hidden ;
  text-overflow: ellipsis;
  margin-left: 10%;
  width: 80%;
}

/* Posts */

.facebook-posts-each{
  width: 100%;
  height: auto;
  float:left;
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

.facebook-post-time{
  width: 100%;
  font-size:11px;
  color: #969696;
  float:left;
  padding: 5px;
}

.facebook-post-ranking{
  width: 50px;
  height: 35px;
  border: 3px solid black;
  float:left;
}

.facebook-post-ranking p{
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.facebook-post-text{
  float: left;
  height: auto;
  width: 100%;
}

.facebook-post-text p{
  font-size: 12px;
  height: auto;
  padding: 5px;
}

/*
.facebook-post-text p:last-child{
position: absolute;
background: white;
left: 10px;
}
*/

.facebook-post-verMais{
  font-size: 10px;
  text-align: right;
  cursor:pointer;
  padding: 5px
}

.facebook-post-coment{
  margin: 5px;
  float:left;
  width:auto;
  height: auto;
}

.facebook-post-like{
  margin: 5px;
  float:left;
  width:auto;
  height: auto;
}

.facebook-post-coment p, .facebook-post-like p{
  font-size:10px;
  float: right;
}

.facebook-post-coment img, .facebook-post-like img{
  height: 13px;
  width: 13px;
  float: right;
  margin: 2px 0px 0px 5px;
  fill: red;
}

.facebook .menu__main-tags {
  border-bottom: 0px;
  margin-bottom: 0px;
}

/*
.facebook .period-filter__single-option {
  padding-left: calc(50% - 79px);
}
*/
