#instagram_menu{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
}

#menu_tematica_instagram {
  width: auto;
  padding: 20px;
  background: #2B3044;
}

.angular-google-map-container {
  float: left;
  height:100%;
  width: 50%;
}

.d3-mosaic {
  float: left;
  width: 50%;
  height: 100%;
}
