#instagram_menu{
  width: auto;
  height: auto;
  position: fixed;
  z-index: 100;
  left: calc(50% + 30px);
}

#menu_tematica_instagram {
  float: left;
  width: auto;
  padding: 20px;
  margin-left: -50%;
  background: #2B3044;
}

.angular-google-map-container {
  float: left;
  height:100%;
  width: 50%;
}

.d3-mosaic {
  float: left;
  width: 50%;
  height: 100%;
}
