#mg-stats-main{
    position: fixed;
	top:15%;
	left:8%;
	right:5%;
	width: auto;
	height: 82%;
	border: 1px gray;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	color:#28A0F9;
	display: inline-block;
	overflow:auto;
}

.col-md-5 input[type=radio]{
	opacity:0
}

#mg-stats-main text{
	font-size: 1.5rem;
	font-family: "Arial"
}

#mg-stats-main svg{
	padding-right:3%;
}