<div ng-controller="mainInstagram">

  <div id="images-menu" class="universe-menu">

    <div class="universe-menu-title">
      <img src="img/twitter/ICONES-11.svg" class="svg-icon universe-menu-title-image">
      <p>ANÁLISE</p>
      <p>DE IMAGENS</p>
    </div>

    <im-themes-filter options="config.filter.main" tag="filter.tag" title="filter.title" social="filter.social"></im-themes-filter>

    <im-period-filter options="config.filter.period.values" period="filter.period" number="filter.number" unit="filter.unit"></im-period-filter>

    <button id="images-menu-button-back" class="images-button">
      VOLTAR PARA IMAGENS
    </button>

  </div>

  <div id="images-main" class="str_division">
    <button id="images-menu-button-go" class="images-button">
      MENU DE FILTROS
    </button>

    <div id="loading" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="error" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="empty" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>

    <div id="images-display">
      <div id="result_conteudo_img" style="height:100%;">
        <div class="geralTweets_result">
          <div ng-repeat="img in imgs | orderBy:'-likes_count'">
            <div ng-if="filter.social == 'Facebook'">
              <a href='{{img.full_picture}}' class="swipebox" title=' <a class="facebook-images-title" href="https://facebook.com/{{img.id}}" target="_blank">Curtida(s): {{img.likes_count}} - {{img.message}}</a>'>
                <img ng-src="{{img.full_picture}}" on-error-src="img/image_not_found.jpg" class="images-picture">  
              </a>
            </div>

            <div ng-if="filter.social == 'Twitter'">
              <a href='{{img.media_url_https}}' class="swipebox" title='<a href="https://twitter.com/{{img.user.screen_name}}/status/{{img.id_str}}" target="_blank" style="color:white;">Retweetado {{img.count}} - "{{img.text}}" @{{img.user.screen_name}}</a>'>
                <img ng-src="{{img.media_url_https}}:small" on-error-src="img/image_not_found.jpg" class="images-picture">
              </a>
            </div>

            <div ng-if="filter.social == 'Flickr'">
              <a href='{{img.source}}' class="swipebox" title='<a href="{{img.urls.url[0]._content}}" target="_blank" style="color:white;">"{{img.title._content}}" {{img.owner.username}}</a>'>
                <img ng-src="{{img.source}}:small" on-error-src="img/image_not_found.jpg" class="images-picture">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="images-filter">
      <p>Tema: {{filter.title}} | Tempo: {{filter.number}} {{filter.unit}}</p>
    </div>
  </div>
</div>

<script type="text/javascript">

  callSvgImg();

  $( document ).ready(function(){

    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });

    $("body").css( "overflow-y", "hidden" );

    document.getElementById("images-main").scrollIntoView();

    $("#images-menu-button-go").click(function(){
      document.getElementById("images-menu").scrollIntoView({block: "end", behavior: "smooth"});
    });

    $("#images-menu-button-back").click(function(){   
      document.getElementById("images-main").scrollIntoView({block: "end", behavior: "smooth"});
    });
  });

</script>