<div ng-controller="conteudoRacismoMenu">
	<li ng-click="linkCat = ',%22conteudo-direitos raciais%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical1">DIREITOS RACIAIS</li>
	<li ng-click="linkCat = ',%22conteudo-gerais%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical2">GERAIS</li>
	<li ng-click="linkCat = ',%22conteudo-identidade negra%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical3">IDENTIDADE NEGRA</li>
	<li ng-click="linkCat = ',%22conteudo-odio ao negro%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical4">ÓDIO AO NEGRO</li>
	<li ng-click="linkCat = ',%22conteudo-violencia racial%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical5">VIOLÊNCIA RACIAL</li>
</div>