<div ng-controller="conteudoIndigenaMenu">
	<li ng-click="linkCat = ',%22conteudo-conflito territorial%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical1">CONFLITO TERRITORIAL</li>
	<li ng-click="linkCat = ',%22conteudo-etnias%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical2">ETNIAS</li>
	<li ng-click="linkCat = ',%22conteudo-luta indigena%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical3">LUTA INDÍGENA</li>
	<li ng-click="linkCat = ',%22conteudo-territorio indigena%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical4">TERRITÓRIO INDÍGENA</li>
	<li ng-click="linkCat = ',%22conteudo-universo indigena%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical5">UNIVERSO INDÍGENA</li>
	<li ng-click="linkCat = ',%22conteudo-violacao etnica%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical6">VIOLAÇÃO ÉTNICA</li>
</div>