<div id="result_conteudo" style="height:100%;" ng-controller="HashMentions">
	<div class="loading" ng-show="dataLoadOFF">
		<center><img src="img/icons/Unknown.gif" height="66px" width="66px"></center>
		<p class="loadingWordGrey">CARREGANDO:</p>
		<p class="loadingWordGrey">estamos realizando a sua requisição, essa operação pode demorar um pouco.</p>
	</div>

	<div class="loading" ng-show="dataLoad404">
		<center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
		<p class="loadingWordGrey">NENHUM TWEET ENCONTRADO</p>
		<p class="loadingWordGrey">tente outra categoria ou intervalo de tempo</p>
	</div>

	<div class="loading" ng-show="dataLoadERROR">
		<center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
		<p class="loadingWordGrey">ERROR</p>
		<p class="loadingWordGrey">Estamos tendo problemas ao carregar, volte mais tarde =)</p>
	</div>

	<div style="height:100%; width:100%;">
		<div  class="geralTweets_result">
			<button ng-show="buttonBack" class="result_button result_button_back" ng-click='loadMoreTweetsChange(-1);'>VOLTAR</button>

			<div class="each_user_result" ng-repeat="ment in mentions">
				<a href="http://twitter.com/{{user.screen_name}}" target="_blank">
					<p class="user_result_number">{{mentions.indexOf(ment) + 1}}º</p>
					<img class="user_result_img" src="{{user.profile.image.url_https}}">
					<p class="user_result_name">@ {{ment.screen_name}}</p>
					<p class="user_result_count"><img src="img/icons/ICONE-TWEET.png" height="15px" width="15px;">{{ment.count}}</p>
				</a>
			</div>


			<button ng-show="buttonNext" class="result_button result_button_next" ng-click='loadMoreTweetsChange(1);'></button>
		</div>
	</div>
</div>