<div ng-controller="perfilGeneroMenu">
	<li ng-click="linkCat = ',%22perfil-ativista%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical1">ATIVISTAS</li>
	<li ng-click="linkCat = ',%22perfil-celebridades%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical2">CELEBRIDADES</li>
	<li ng-click="linkCat = ',%22perfil-midia%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical3">MÍDIA</li>
	<li ng-click="linkCat = ',%22perfil-movimentos-sociais%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical4">MOVIMENTOS SOCIAIS</li>
	<li ng-click="linkCat = ',%22perfil-politicos%22'; changeCategoria(linkCat);" class="menu_categoria_op opVertical5">POLÍTICOS</li>
</div>