<div id="str_main_monitor" class="str_main" ng-controller="mainMetrics">
  <div class="relatorio-display">

    <div class="loading loading_relatorio">
      <!--      <center><img src="img/icons/Unknown.gif" height="66px" width="66px"></center>-->
      <div class="cssload-container">
        <div class="cssload-shaft1"></div>
        <div class="cssload-shaft2"></div>
        <div class="cssload-shaft3"></div>
        <div class="cssload-shaft4"></div>
        <div class="cssload-shaft5"></div>
        <div class="cssload-shaft6"></div>
        <div class="cssload-shaft7"></div>
        <div class="cssload-shaft8"></div>
        <div class="cssload-shaft9"></div>
        <div class="cssload-shaft10"></div>
      </div>
      <p class="loadingWordGrey">RECEBENDO OS DADOS ESTATÍSTICOS</p>
      <p class="loadingWordGrey">realizando multiplás requisições. Por favor aguarde com paciência, essa operação pode demorar cerca de 1 minuto.</p>
    </div>

    <div class="relatorio-display-title">
      <div class="relatorio-display-title-str">
        <p>Estatísticas<br>dos últimos 7 dias</p>
        <div class="relatorio-display-title-menu">
          <span>
            <img src="img/relatorio/icones-01.svg" class="svg-icon relatorio-display-title-menu-img twitter-color">
            <p>PUBLICAÇÕES</p>
          </span>
        </div>
      </div>
    </div>

    <div class="relatorio-display-statistic">
      <div class="relatorio-display-statistic-str">
        <div class="relatorio-display-statistic-each">
          <span>
            <img src="img/relatorio/icones-02.svg" class="svg-icon relatorio-display-statistic-image-left twitter-color">
          </span>
          <span>
            <img src="img/relatorio/icones-03.svg" class="svg-icon relatorio-display-statistic-image-right link-color">
          </span>
          <p>{{TwitterTweet}}</p>
          <p>Publicações acumuladas do Twitter</p>
        </div>
        <div class="relatorio-display-statistic-each">
          <span>
            <img src="img/relatorio/icones-02.svg" class="svg-icon relatorio-display-statistic-image-left twitter-color">
          </span>
          <span>
            <img src="img/relatorio/icones-04.svg" class="svg-icon relatorio-display-statistic-image-right link-color">
          </span>
          <p>{{TwitterImage}}</p>
          <p>Imagens acumuladas do Twitter</p>
        </div>
        <div class="relatorio-display-statistic-each">
          <span>
            <img src="img/relatorio/icones-05.svg" class="svg-icon relatorio-display-statistic-image-left facebook-color">
          </span>
          <span>
            <img src="img/relatorio/icones-03.svg" class="svg-icon relatorio-display-statistic-image-right link-color">
          </span>
          <p>{{FacebookPosts}}</p>
          <p>Publicações acumuladas do Facebook</p>
        </div>
        <div class="relatorio-display-statistic-each">
          <span>
            <img src="img/relatorio/icones-05.svg" class="svg-icon relatorio-display-statistic-image-left facebook-color">
          </span>
          <span>
            <img src="img/relatorio/icones-04.svg" class="svg-icon relatorio-display-statistic-image-right link-color">
          </span>
          <p>{{FacebookImage}}</p>
          <p>Imagens acumuladas do Facebook</p>
        </div>
        <div class="relatorio-display-statistic-each">
          <span>
            <img src="img/relatorio/icones-08.svg" class="svg-icon relatorio-display-statistic-image-left instagram-color">
          </span>
          <span>
            <img src="img/relatorio/icones-04.svg" class="svg-icon relatorio-display-statistic-image-right link-color">
          </span>
          <p>{{InstagramImage}}</p>
          <p>Imagens acumuladas do Instagram</p>
        </div>
      </div>
    </div>

    <div class="relatorio-display-line">

      <div class="relatorio-display-line-horizontalDisplay">
        <p>Clique na rede social que deseja visualizar:</p>
        <div title="Twitter" id="line-twitter" class="relatorio-display-line-horizontalDisplay-each" ng-click="filterLineChart.status = 'twitter';">
          <img src="img/relatorio/icones-02.svg" class="svg-icon relatorio-display-line-horizontalDisplay-each-image relatorio-display-bar-verticalDisplay-each-image twitter-color">
        </div>

        <div title="Facebook" id="line-facebook" class="relatorio-display-line-horizontalDisplay-each" ng-click="filterLineChart.status = 'facebook';">
          <img src="img/relatorio/icones-05.svg" class="svg-icon relatorio-display-line-horizontalDisplay-each-image relatorio-display-bar-verticalDisplay-each-image facebook-color">
        </div>

        <div title="Instagram" id="line-instagram" class="relatorio-display-line-horizontalDisplay-each" ng-click="filterLineChart.status = 'instagram';">
          <img src="img/relatorio/icones-08.svg" class="svg-icon relatorio-display-line-horizontalDisplay-each-image relatorio-display-bar-verticalDisplay-each-image instagram-color">
        </div>
      </div>

      <div class="relatorio-display-line-title">
        <p>Interações x Tempo</p>
      </div>

      <div id="lineChart"></div>
    </div>

    <div class="relatorio-display-bar">

      <div id="relatorio-display-bar-menu">
        <ul id="menu-tematica-relatorio">
          <li class="menu_tematica_op">
            <a ng-click='filter.tema = "tema-indigena";'><p class="select_tematica_monitor" style="color:#c7144f">INDÍGENA</p></a>
          </li>
          <li class="menu_tematica_op">
            <a ng-click='filter.tema = "tema-genero";'><p class="select_tematica_monitor" style="color:#426083">MULHER</p></a>
          </li>
          <li class="menu_tematica_op">
            <a ng-click='filter.tema = "tema-negros";'><p class="select_tematica_monitor firstOp" style="color:#f7931e">NEGRO</p></a>
          </li>
          <li class="menu_tematica_op">
            <a ng-click='filter.tema = "tema-lgbt";'><p class="select_tematica_monitor" style="color:#8c6239">LGBT</p></a>
          </li>
        </ul>
      </div>

      <div class="relatorio-display-bar-verticalDisplay">
        <div class="relatorio-display-bar-verticalDisplay-each">
          <img src="img/relatorio/icones-02.svg" class="svg-icon relatorio-display-bar-verticalDisplay-each-image twitter-color">
          <p>Twitter</p>
        </div>

        <div class="relatorio-display-bar-verticalDisplay-each">
          <img src="img/relatorio/icones-05.svg" class="svg-icon relatorio-display-bar-verticalDisplay-each-image facebook-color">
          <p>Facebook</p>
        </div>

        <div class="relatorio-display-bar-verticalDisplay-each">
          <img src="img/relatorio/icones-08.svg" class="svg-icon relatorio-display-bar-verticalDisplay-each-image instagram-color">
          <p>Instagram</p>
        </div>
      </div>

      <div id="barChart"></div>
    </div>

  </div>
</div>

<script type="text/javascript">

  callSvgImg();

  $( document ).ready(function(){

    $("#line-twitter").css( "background-image", "url('img/subtle_dots_@2X.png')");
    $("#line-twitter").css( "border-style", "solid");
    $("#line-twitter").css( "border-color", "rgb(86, 200, 231)");
    $("#line-twitter").css( "border-width", "1px 1px 0px");

    $("#line-twitter").click(function(){
      $(".relatorio-display-line-horizontalDisplay-each").css( "background-image", "none");
      $(".relatorio-display-line-horizontalDisplay-each").css( "border-width", "0px 0px 0px");

      $(this).css( "background-image", "url('img/subtle_dots_@2X.png')");
      $(this).css( "border-style", "solid");
      $(this).css( "border-color", "rgb(86, 200, 231)");
      $(this).css( "border-width", "1px 1px 0px");
    });

    $("#line-facebook").click(function(){
      $(".relatorio-display-line-horizontalDisplay-each").css( "background-image", "none");
      $(".relatorio-display-line-horizontalDisplay-each").css( "border-width", "0px 0px 0px");

      $(this).css( "background-image", "url('img/subtle_dots_@2X.png')");
      $(this).css( "border-style", "solid");
      $(this).css( "border-color", "#426083");
      $(this).css( "border-width", "1px 1px 0px");
    });

    $("#line-instagram").click(function(){
      $(".relatorio-display-line-horizontalDisplay-each").css( "background-image", "none");
      $(".relatorio-display-line-horizontalDisplay-each").css( "border-width", "0px 0px 0px");

      $(this).css( "background-image", "url('img/subtle_dots_@2X.png')");
      $(this).css( "border-style", "solid");
      $(this).css( "border-color", "#736357");
      $(this).css( "border-width", "1px 1px 0px");
    });
  });

</script>
