<div id="str_main_monitor" class="str_main" ng-controller="mainMetrics">
  <div class="relatorio">

    <div class="relatorio-title">
      <div class="relatorio-title-str">
        <p>Estatísticas<br>dos últimos 7 dias</p>
        <div class="relatorio-title-menu">
          <span>
            <img src="img/relatorio/icones-01.svg" class="svg-icon relatorio-title-menu-img twitter-color">
            <p>PUBLICAÇÕES</p>
          </span>
        </div>
      </div>
    </div>

    <div class="relatorio-social" id="relatorio-twitter">
      <p class="relatorio-social-title">Twitter</p>
      <div class="relatorio-social-metrics">
        <div class="relatorio-social-metrics-each">
          <img src="img/twitter/ICONES-09.svg" class="svg-icon">
          <p>{{twitterTweets}}</p>
        </div>
        <div class="relatorio-social-metrics-each">
          <img src="img/twitter/ICONES-10.svg" class="svg-icon">
          <p>0</p>
        </div>
        <div class="relatorio-social-metrics-each">
          <img src="img/twitter/ICONES-11.svg" class="svg-icon">
          <p>{{twitterImage}}</p>
        </div>
      </div>

      <div id="twitter1" class="relatorio-social-graficos" ></div>
      <div id="twitter2" class="relatorio-social-graficos" ></div>
    </div>

    <div class="relatorio-social" id="relatorio-facebook">
      <p class="relatorio-social-title">Facebook</p>
      <div class="relatorio-social-metrics">
        <div class="relatorio-social-metrics-each">
          <img src="img/Index/ICONES-02.svg" class="svg-icon">
          <p>{{facebookPosts}}</p>
        </div>
<!--
        <div class="relatorio-social-metrics-each">
          <img src="img/twitter/ICONES-10.svg" class="svg-icon">
          <p>0</p>
        </div>
-->
        <div class="relatorio-social-metrics-each">
          <img src="img/twitter/ICONES-11.svg" class="svg-icon">
          <p>{{facebookImage}}</p>
        </div>
      </div>

      <div id="facebook1" class="relatorio-social-graficos"></div>
      <div id="facebook2" class="relatorio-social-graficos"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

  callSvgImg();
  
  $("body").css( "overflow-y", "auto" );
  document.getElementById("str_main_monitor").scrollIntoView();

  $( document ).ready(function(){});
</script>