<div id="str_main_monitor" class="str_main" ng-controller="mainMetrics">
  <div class="mg-body">

    <div id="div1_monitor" class="str_division" style="padding-top: 30px; align-content: center;">
      <div class="row">
        <metrics-network-filter type="single-option" options="config.filter.networks" filter="filter.network"></metrics-network-filter>

        <metrics-period-filter type="single-option" options="config.filter.period.values" filter="filter.period"></metrics-period-filter>
      </div>
    </div>

    <div id="mg-stats-main">
    </div>
  </div>
</div>