<div id="str_main_monitor" class="str_main" ng-controller="mainFacebook">

  <div id="div1_monitor" class="str_division">

    <div id="str_menu_tematica" class="facebook-menu-tematica">
      <ul id="menu_tematica">
        <li class="menu_tematica_op">
          <a ng-click='filter.tema = "tema-negros"; filter.categorieNumber = 0;'><p class="rotate select_tematica_monitor firstOp">NEGRO</p></a>
        </li>
        <li class="menu_tematica_op">
          <a ng-click='filter.tema = "tema-lgbt"; filter.categorieNumber = 1;'><p class="rotate select_tematica_monitor">LGBT</p></a>
        </li>
        <li class="menu_tematica_op">
          <a ng-click='filter.tema = "tema-indigena"; filter.categorieNumber = 2;'><p class="rotate select_tematica_monitor">INDÍGENA</p></a>
        </li>
        <li class="menu_tematica_op">
          <a ng-click='filter.tema = "tema-genero"; filter.categorieNumber = 3;'><p class="rotate select_tematica_monitor">MULHER</p></a>
        </li>
      </ul>
    </div>
    
    <div id="facebook-menu-choice">
      <button id="facebook-choice-button1" class="facebook-choice-button inicializeOpacity" ng-click="filter.type = 'publicacao'; ">
        <img src="../img/facebook/COMEN%20E%20PUBLIC-02.svg" class="svg-icon facebook-choice-button-image">
        <p>PUBLICAÇÕES</p>
      </button>
      <button id="facebook-choice-button2" class="facebook-choice-button " ng-click="filter.type = 'comentario'; ">
        <img src="../img/facebook/COMEN%20E%20PUBLIC-01.svg" class="svg-icon facebook-choice-button-image">
        <p>COMENTARIOS</p>
      </button>
      
    </div>
    
    <div id="facebook-menu-atores">
      <div class="facebook-actors-each inicializeOpacity" ng-click="filter.actor = 'ator-imprensa';">
        <img src="../img/facebook/FACEBOOK-01.svg" class="svg-icon facebook-actors-each-image">
        <p>imprensa</p>
      </div>
      <div class="facebook-actors-each" ng-click="filter.actor = 'ator-defensores';">
        <img src="../img/facebook/FACEBOOK-02.svg" class="svg-icon facebook-actors-each-image">
        <p>defensores de direitos humanos</p>
      </div>
      <div class="facebook-actors-each" ng-click="filter.actor = 'ator-criticos';">
        <img src="../img/facebook/FACEBOOK-03.svg" class="svg-icon facebook-actors-each-image">
        <p>críticos de direitos humanos</p>
      </div>
      <div class="facebook-actors-each" ng-click="filter.actor = 'ator-personalidades';">
        <img src="../img/facebook/FACEBOOK-04.svg" class="svg-icon facebook-actors-each-image">
        <p>personalidades</p>
      </div>
      <div class="facebook-actors-each" ng-click="filter.actor = 'ator-governos';">
        <img src="../img/facebook/FACEBOOK-05.svg" class="svg-icon facebook-actors-each-image">
        <p>governos e organizações internacionais</p>
      </div>
    </div>

    <div id="str_menu_temporalidade">
      <div id="str_time_temporalidade" >
<!--
        <div class="time_temporalidade" ng-click='filter.time = "recent"'>
          <p>mais</p>
          <p>RECENTES</p>
        </div>
-->
        <div class="time_temporalidade" ng-click='filter.time = "1h"'>
          <p>1</p>
          <p>HORA</p>
        </div>
        <div class="time_temporalidade" ng-click='filter.time = "1d"'>
          <p>24</p>
          <p>HORAS</p>
        </div>
        <div id="temporalidade24" class="time_temporalidade fisrtTemp" ng-click='filter.time = "7d"'>
          <p>7</p>
          <p>DIAS</p>
        </div>
        <div class="time_temporalidade" ng-click='filter.time = "15d"'>
          <p>15</p>
          <p>DIAS</p>
        </div>

      </div>
    </div>

<!--
    <div id="str_display_tweet">
      <div class="display_tweet">
        <img src="img/icons/ICONE-TWEET.png" height="30px" width="35px">
        <img src="img/facebook/ICONES-01.svg" class="svg-icon display_tweet_icon" height="30px" width="35px">
        <p class="display_tweet_p">{{countRetweet}}</p>
        <p>Tweets acumulados</p>
      </div>

      <div class="display_tweet">
        <img src="img/icons/ICONE-IMAGEM.png" height="30px" width="35px">
        <p class="display_tweet_p">{{countImage}}</p>
        <p>Imagens acumulados</p>
      </div>
    </div>
-->
  </div>

  <div id="div3_monitor" class="str_division">
    <aside id="result_word" ui-view="facebook.word"></aside>
  </div>

  <div id="div2_monitor" class="str_division">
    <div class="title_str">
      <ul class="title_str_menu_icon">
        <a ui-sref="facebook.posts">
          <li class="select_title_division2 firstOpCont">
            <img ng-show="filter.type == 'comentarios'" src='../img/facebook/COMEN%20E%20PUBLIC-01.svg' class="icon_menu_top" alt="image">
            <img ng-show="filter.type != 'comentarios'" src='../img/facebook/COMEN%20E%20PUBLIC-02.svg' class="icon_menu_top" alt="image">
          </li>
        </a>
<!--
        <a ui-sref="facebook.img">
          <li class="select_title_division2">
            <img src='img/icons/IMAGENS.png' class="icon_menu_top" alt="image">
          </li>
        </a>
-->
<!--
        <a ui-sref="monitor.mosaico">
          <li id="select_imgMosaico" class="select_title_division2" ng-click="filter.time = '7d'">
            <img src='img/icons/Mosaico.png' class="icon_menu_top" alt="image">
          </li>
        </a>
-->
      </ul>
    </div>
    
    <aside ui-view="facebook.conteudo" style="height:calc(100% - 50px); width:100%;"></aside>
  
  </div>
</div>

<script type="text/javascript">
  callSvgImg();
  
  $( document ).ready(function(){
    
    /*NOTA: Inicializando SwipeBox */

    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });
    
    /* Standard */
    
    $(".inicializeOpacity").css( "opacity", "1" );
    $(".firstOp").css( "font-weight", "800" );

    $(".firstOpCont").css( "opacity", "1" );

    /* Custom */

    $(".select_tematica_monitor").click(function(){
      $(".select_tematica_monitor").css( "font-weight", "300" );

      $(this).css( "font-weight", "800" );
    });

    $(".select_title_division2").click(function(){
      $(".select_title_division2").css( "opacity", "0.6" );

      $(this).css( "opacity", "1" );
      
      $(".select_title_division3").css( "opacity", "0.6" );
      $(".title_str_dualOP_1").css( "opacity", "1" );
    });

//    $(".select_title_division3,.select_title_division2").css( "opacity", "0.6" );

    /*NOTA: Troca Temporalidades */ 

    $(".fisrtTemp p").css( "color", "#0a1227" );
    $(".fisrtTemp").css( "background-color", "#1dbfd8" );
    $(".fisrtTemp").css( "border-color", "#1dbfd8" );

    $(".time_temporalidade").click(function(){
      $(".time_temporalidade p").css( "color", "#1dbfd8" );
      $(".time_temporalidade").css( "background-color", "transparent" );
      $(".time_temporalidade").css( "border-color", "white" );

      $("p", this).css( "color", "#0a1227" );
      $(this).css( "background-color", "#1dbfd8" );
      $(this).css( "border-color", "#1dbfd8" );
    });

    $("#select_imgMosaico").click(function(){
      $(".time_temporalidade p").css( "color", "#1dbfd8" );
      $(".time_temporalidade").css( "background-color", "transparent" );
      $(".time_temporalidade").css( "border-color", "white" );

      $("p", "#temporalidade24").css( "color", "#0a1227" );
      $("#temporalidade24").css( "background-color", "#1dbfd8" );
      $("#temporalidade24").css( "border-color", "#1dbfd8" );
    });
    
    /*NOTA: Troca actors */
    
    $(".facebook-choice-button").click(function(){
      $(".facebook-choice-button").css( "opacity", "0.3" );
      $(this).css( "opacity", "1" ); 
    });
    
    $(".facebook-actors-each").click(function(){
      $(".facebook-actors-each").css( "opacity", "0.3" );
      $(this).css( "opacity", "1" );
    });
  });
</script>