<div id="str_main_monitor" class="str_main" ng-controller="mainMonitor">

	<div id="div1_monitor" class="str_division" ng-controller="MenuDivisionTematica">

		<div id="str_menu_facebook" >
			<div class="each_menu_midia">
				<div class="each_str_menu_midia">
					<img src="img/facebook/facebook-01.svg" class="svg-icon img_str_menu_midia">
					<p>top publicações geral</p>
				</div>
			</div>
			<div class="each_menu_midia">
				<div class="each_str_menu_midia">
					<img src="img/facebook/facebook-02.svg" class="svg-icon img_str_menu_midia">
					<p class="centralize_p_midia">mídia</p>
				</div>
			</div>
			<div class="each_menu_midia">
				<div class="each_str_menu_midia">
					<img src="img/facebook/facebook-03.svg" class="svg-icon img_str_menu_midia">
					<p class="centralize_p_midia">institucional</p>
				</div>
			</div>
			<div class="each_menu_midia">
				<div class="each_str_menu_midia">
					<img src="img/facebook/facebook-04.svg" class="svg-icon img_str_menu_midia">
					<p class="centralize_p_midia">educacional</p>
				</div>
			</div>
			<div class="each_menu_midia">
				<div class="each_str_menu_midia">
					<img src="img/facebook/facebook-05.svg" class="svg-icon img_str_menu_midia">
					<p class="centralize_p_midia">humor</p>
				</div>
			</div>
		</div>

		<div id="str_menu_temporalidade" ng-controller="HashTemporalidade">

			<div id="str_time_temporalidade" >
				<div class="time_temporalidade" ng-click="temporalidadeIndex(0); loadMoreTweets(0); changeTemporalidade(15);">
					<p>MAIS</p>
					<p>RECENTES</p>
				</div>
				<div class="time_temporalidade" ng-click="temporalidadeIndex(1); loadMoreTweets(0); changeTemporalidade(60);">
					<p>60</p>
					<p>MINUTOS</p>
				</div>
				<div id="temporalidade24" class="time_temporalidade fisrtTemp" ng-click="temporalidadeIndex(2); loadMoreTweets(0); changeTemporalidade(24);">
					<p>12</p>
					<p>HORAS</p>
				</div>
				<div class="time_temporalidade" ng-click="temporalidadeIndex(3); loadMoreTweets(0); changeTemporalidade(7);">
					<p>24</p>
					<p>HORAS</p>
				</div>

			</div>
		</div>
	</div>

	<div id="div3_monitor" class="str_division" ng-controller="ResultWords">
		<div id="result_word" ng-include="template.url" ></div>
	</div>

	<div id="div2_monitor" class="str_division">

		<!--		<div ng-include="templateConteudo.url" style="height:calc(100% - 50px); width:100%;"></div>-->
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function(){

		callSvgImg();

		/*NOTA: Troca Temporalidades */ 

		$(".fisrtTemp p").css( "color", "#0a1227" );
		$(".fisrtTemp").css( "background-color", "#1dbfd8" );
		$(".fisrtTemp").css( "border-color", "#1dbfd8" );

		$(".time_temporalidade").click(function(){
			$(".time_temporalidade p").css( "color", "#1dbfd8" );
			$(".time_temporalidade").css( "background-color", "transparent" );
			$(".time_temporalidade").css( "border-color", "white" );

			$("p", this).css( "color", "#0a1227" );
			$(this).css( "background-color", "#1dbfd8" );
			$(this).css( "border-color", "#1dbfd8" );
		});
	});
</script>