<div id="str_main_palavras" class="str_main" ng-controller="mainPalavras">
	<div id="div1_palavras" class="str_division">
		<div id="div1_palavras_title">
			<img src="img/icons/aspas.png" height="35px" width="40px">
			<p>ANÁLISE</p>
			<p>SEMÂNTICA</p>
		</div>

		<div id="div1_palavras_tematica">
			<ul id="menu_tematica">
				<li class="menu_tematica_op">
					<a ng-click=" linkTema = '%22tema-negros%22'; changeTema(linkTema);"><p class=" select_tematica_palavras firstOp">NEGRO</p></a>
				</li>
				<li class="menu_tematica_op">
					<a ng-click=" linkTema = '%22tema-lgbt%22'; changeTema(linkTema);"><p class=" select_tematica_palavras">LGBT</p></a>
				</li>
				<li class="menu_tematica_op">
					<a ng-click=" linkTema = '%22tema-indigena%22'; changeTema(linkTema);"><p class=" select_tematica_palavras">ÍNDIGENA</p></a>
				</li>
				<li class="menu_tematica_op">
					<a ng-click=" linkTema = '%22tema-genero%22'; changeTema(linkTema);"><p class=" select_tematica_palavras">MULHER</p></a>
				</li>
			</ul>
		</div>

		<div id="div1_palavras_loop" ng-controller="PalavrasHashPalavrasWords">

			<div name="searchForm" id="div1_palavras_search">
				<div class="search_div">
					<input id="palavras_search_words" ng-model="query" class="search_input" type="search" ng-model="search.text" placeholder="Busque por uma palavra">
					<button class="search_button" ng-click=" changeSunburst(search.text)" >BUSCAR</button>
				</div>
				<img src="img/icons/LUPA.png" height="20px;" width="20px">
			</div>

			<div class="loading" ng-show="dataLoadOFF">
				<center><img src="img/icons/Unknown.gif" height="66px" width="66px"></center>
				<p class="loadingWordGrey">CARREGANDO</p>
				<p class="loadingWordGrey" style="font-size:14px;">Por favor espere, pode demorar um pouco...</p>
			</div>

			<div ng-show="dataLoadON" id="div1_palavras_loop10">
				<p ng-click="changeSunburst(wordv10.word)" ng-repeat="wordv10 in word10">{{wordv10.word}}</p>
			</div>

			<div ng-show="dataLoadON" id="div1_palavras_loop1000">
				<p><!--{{countTweets.count}} tweets | #### usuários--></p>
				<p ng-click="changeSunburst(wordv1000.word)" ng-repeat="wordv1000 in word1000 | filter:query">{{wordv1000.word}}</p>
			</div>
		</div>

		<div id="palavras_div1_str_menuTemporalidade">
			<div class="palavras_div1_str_menuTemporalidade_temporalidade palavrasFisrtTemp" ng-click="changeTemporalidade(60);">
				<p>60</p>
				<p>MINUTOS</p>
			</div>
			<div id="temporalidade24" class="palavras_div1_str_menuTemporalidade_temporalidade" ng-click="changeTemporalidade(24);">
				<p>24</p>
				<p>HORAS</p>
			</div>
			<div class="palavras_div1_str_menuTemporalidade_temporalidade" ng-click="changeTemporalidade(7);">
				<p>7</p>
				<p>DIAS</p>
			</div>
		</div>	
	</div>

	<div id="palavras_div2" class="str_division">
		<div ng-show="sunburstON" id="palavras_div2_sunburstZoom"></div>
		<div ng-show="sunburstOFF" id="palavras_div2_sunburstZoomOFF">
			<p>Busque ou selecione uma palavra para gerar o gráfico</p>
		</div>
		<div id="palavras_div2_sunburstZoom_fixed"></div>
	</div>
</div>
