<br>
<a href="#/clipper" style="margin-left: 8%;" type="button">Página Inicial</a>
<div id="paginaNoticia" ng-controller="estruturaNoticia" style="margin-top: 3%;">
    <!--  conteúdo da notícia  -->
  <div class="row"><h2>{{noticia.name}}</h2></div>

    <div class="row">
    	<p><a href="{{::noticia.url}}" target="_blank">Ir para a notícia</a></p>
    </div>

    <div class="row">
    	<p><b>Publicado por <a href="http://{{::site}}" target="_blank" style="display: inline">{{site}}</a> em {{::noticia.datePublished | date:"dd/MM/yyyy 'às' HH'h'mm":'UTC-4'}}  e coletado em {{::noticia.dateCreated | date:"dd/MM/yyyy 'às' HH'h'mm":'UTC-4'}}</b></p>
    </div>

    <div class="row" align="justify">
    	<p ng-bind-html="html"></p><br>
      Tags: <input type="button" value="{{:: keyword}}" ng-repeat = "keyword in noticia.keywords" disabled>
      <br><br>
    </div>
  </div>
</div>
<br><br>