  <!--  menu lateral  -->
  <div class="navbar-fixed-left" ng-controller="menuController">
    <!---p class="news" ng-click="plusOne($index)"> {{news}}</p!--> 
      <section layout="row" layout-align="left" layout-wrap style=" display: inline-block;">
          <searching> </searching>
      </section>
      <!--  buttons da esquerda -->
      <section layout="row" layout-align="center" layout-wrap align="center">
        <button ng-repeat="item in mSupE" ng-click="filtering(listaExibida)" ng-controller="gridController">
        <img ng-src="{{item.coverAtv}}">
        </button>
      </section>
    </div>

 <div id="conteudo">
    <h4 text-size="18">Diário de veículos jornalísticos</h4>
    <br><br><br>
      <!--  blocos de notícias novas  -->
    <div id="notNovas" ng-controller="gridController" ng-init="limNot = 20" >

    <div class="modal" id="abrirModal">
    <div class="modal-content">
    <span class="close" id="fecharModal">&times;</span>
      <h3><div id="modalTitle"></div></h3><br><br>
      <div id="modalBody"></div><br>
      <div id="modalFooter"></div>
      <script type="text/javascript">
      // When the user clicks on <span> (x), close the modal
      document.getElementById('fecharModal').onclick = function() {
        document.getElementById('abrirModal').style.display = "none";
      }
      
      </script>
    </div>
    </div>

      <div ng-repeat="nov in novidades | limitTo:limNot">
          <noticias info=nov  class="row"></noticias>
          <br><br>
      </div>

      <br><br>
      <section layout="row" layout-align="center" layout-wrap align="center">
        <button ng-click="limNot = limNot + 20; loadMore()" > Carregar mais </button>
      </section>
    </div>

    <hr noshade style="width:100%; background-color: #D6D6D6; height: 2px;" >
      <!--  footer  -->
    <div id="footer">
    </div>
</div>
      

  <script src="build/app.min.js"></script>