<!--  menu lateral  -->
<div class="navbar-fixed-left" ng-controller="menuController">
  <!---p class="news" ng-click="plusOne($index)"> {{news}}</p!--> 
  <button value="ComImagens" ng-click = "mudarExibicao()" id="exibicao"><h5>Mudar exibição</h5></button>
  <br><br><br>
    <section layout="row" layout-align="left" layout-wrap style=" display: inline-block;">
        <searching></searching>
    </section>
    <!--  buttons da esquerda -->
    <section layout="row" layout-align="center" layout-wrap align="center">
      <button><a href="#/clipper" onclick="window.location.reload(true);"><img src="img/clipper/limpar.png"></a>
      </button>
      <button ng-click="filtering()"><img src="img/clipper/filtrar.png">
      </button>
</div>

<div id="conteudo">
  <img src="img/clipper/title.PNG" style="height: 45px; width: auto">
  <br><br><br>
  <!--  blocos de notícias novas  -->
  <div id="notNovas" ng-controller="gridController" ng-init="limNot = 20; loadData()" >
  
    <div class="modal" id="abrirModal">
    <div class="modal-content" align="justify">
      <span class="close-heavy" id="fecharModal">&times;</span>
      <h3><div id="modalTitle"></div></h3><br><br>
      <div id="modalBody"></div><br>
      <script type="text/javascript">
      // When the user clicks on <span> (x), close the modal
      document.getElementById('fecharModal').onclick = function() {
        document.getElementById('abrirModal').style.display = "none";
      };
      
      </script>
    </div>
    </div>
    <!--  ícone fixo para relatório  -->  
    <button style="position:fixed; float: left; margin-left: 70%; margin-top: -5%; z-index: 0;" ng-click="geraRelatorio()"><img src="img/clipper/icon3.PNG" style="height: 50px; width: auto"></button>

      <div ng-repeat="nov in novidades | limitTo:limNot">
        <section layout-align="end" layout-wrap align="end">
          <input type="checkbox" ng-click="adicionaNoticia(nov)" > 
          <button ng-click="deletar(nov);novidades.splice($index,1)">&#10060;</button>
        </section>
        <noticias info='nov' class="row"></noticias>
      </div>

      <br><br>
      <section layout="row" layout-align="center" layout-wrap align="center">
        <button ng-click="limNot = limNot + 20; loadMore()" > Carregar mais </button>
      </section>
      <br>
  </div>
      <!--  footer  -->
    <div id="footer"></div>
</div>