     <!-- Modules -->
  <!--script src="app.js"></script-->

  <!-- Controllers >

  <script src="modules/clipper/controller/menuController.js"></script>

  <script src="modules/clipper/controller/gridController.js"></script>
  <!-- Directives >
  <script src="modules/clipper/directives/searching.js"></script>
  <script src="modules/clipper/directives/noticias.js"></script>
	-->


  <!--  navbar
    <nav class="navbar  navbar-inverse  navbar-fixed-top">
    <img src="img/clipper/title.PNG" style="max-width: 100px;">
    </nav-->

  <!--  menu lateral  >
  <div class="navbar-fixed-left" ng-controller="menuController">
    <!-----p class="news" ng-click="plusOne($index)"> {{news}}</p!> 
    <div ng-repeat="item in mLat"> 
      <div ng-init="imgsrc=item.coverDes" ng-mouseover="imgsrc=item.coverAtv"
      ng-mouseout="imgsrc=item.coverDes">
        <a href="{{item.link}}">
        <img ng-src="{{imgsrc}}"></a>

      </div>
    </div>
  </div-->

 <div id="conteudo">
    <searching> </searching>

    <div id="menuTopo" ng-controller = "menuController" >
      
      <select id="selData">
        <option style="display:none;" value="undefined">Última hora</option>
        <option ng-repeat="tempo in ultHora" value="{{tempo.label}}">{{tempo.label}}</option>  
      </select>

      <select id="selCat">
      <option style="display:none;" value="undefined">Categoria</option>
        <option ng-repeat="cat in categ" value="{{cat.label}}">{{cat.label}}</option>  
      </select>

      <select id="selProd">
        <option style="display:none;" value="undefined">Produto</option>
        <option ng-repeat="produto in prod" value="{{produto.label}}">{{produto.label}}</option>  
      </select>

      <select id="selCont">
        <option style="display:none;" value="undefined">Tipo de conteúdo</option>
        <option ng-repeat="conteudo in tipoCont" value="{{conteudo.label}}">{{conteudo.label}}</option>  
      </select>

      <select id="selAlc">
        <option style="display:none;" value="undefined">Alcance</option>
        <option ng-repeat="alc in alcance" value="{{alc.label}}">{{alc.label}}</option>  
      </select>

      <select id="selReg">
        <option style="display:none;" value="undefined">Região</option>
        <option ng-repeat="reg in regiao" value="{{reg.label}}">{{reg.label}}</option>  
      </select>
      
      <!--  buttons da esquerda   

      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      -->
        <button ng-repeat="item in mSupE" ng-click="filtering()" ng-controller="gridController">
        <img ng-src="{{item.coverAtv}}"></button>
        
    </div>

      <!--  blocos de notícias novas  -->
      <p></p>
      <div id="notNovas" ng-controller="gridController" ng-init="limNot = 30" >
        <div ng-repeat="nov in novidades | limitTo:limNot">
        <div ng-if="$index % 3 == 0" class="clearfix"></div>
          <noticias info=nov class="col-md-4" style="overflow: hidden;"></noticias>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <button ng-click="limNot=limNot+30">Show more</button>
      </div>

      <hr noshade style="width:100%; background-color: #D6D6D6; height: 2px;" >
      <!--  blocos de outros conteúdos  -->
      <div id="outCont" ng-controller="gridController">
      </div>
      <!--  footer  -->
      <div id="footer">
      </div>
</div>
      

  <script src="build/app.min.js"></script>