  <!--  menu lateral  -->
  <div class="navbar-fixed-left" ng-controller="menuController">
    <!---p class="news" ng-click="plusOne($index)"> {{news}}</p!--> 
      <section layout="row" layout-align="left" layout-wrap style=" display: inline-block;">
          <searching> </searching>
      </section>
      <!--  buttons da esquerda -->
      <section layout="row" layout-align="center" layout-wrap align="center">
        <button ng-repeat="item in mSupE" ng-click="filtering(listaExibida)" ng-controller="gridController">
        <img ng-src="{{::item.coverAtv}}">
        </button>
      </section>
    </div>

 <div id="conteudo">
    <h4 text-size="18">Diário de veículos jornalísticos</h4>
    <br><br><br>
      <!--  conteúdo da notícia  -->
    <h3><div id="modalTitle"></div></h3><br><br>
      <div id="modalBody"></div><br>
      <div id="modalFooter"></div>

    <hr noshade style="width:100%; background-color: #D6D6D6; height: 2px;" >
      <!--  footer  -->
    <div id="footer">
    </div>
</div>