<div id="str_main_home" class="str_main" style="">
  <a id="home-tile" href="http://www.labic.net/" target="_blank">
    <img width="250px" src="img/Index/logolabic.svg">
    <p>HASH</p>
  </a>

  <container id="home-menu">
    <div class="home-menu-each">
      <div class="home-menu-each-title">
        <img src="img/Index/ICONES-01.svg" class="svg-icon" height="40px" width="40px">
      </div>
      <div class="home-menu-each-text">
        <p>O sistema Hash apresenta uma visualização diferenciada do Twitter, mostrando de forma clara imagens, publicações, palavras e hashtags que foram mais influentes ao longo do ano de 2015/2016. É constituido por quatro temas, quatro tempos e vinte sete estados disponiveis para seleção e filtragem.</p>
      </div>
    </div>
    <div class="home-menu-each"></div>
    <div class="home-menu-each"></div>
    <div class="home-menu-each"></div>
    <div class="home-menu-each" style="border-right:0px"></div>
  </container>
</div>
