<div class="menu_logo" src="./assets/images/SDH.png">
  <p>HASH</p>
  <p>ENEM</p>
  <p>2015</p>
</div>
<ul class="menu_fixed">
  <li class="menu_fixed_op"><a href="#/facebook"><img src="./assets/images/Index/ICONES-02.svg" class="svg-icon icon-menu-monitor" height="20px" width="20px"></a></li>
  <li class="menu_fixed_op"><a href="#/twitter"><img src="./assets/images/Index/ICONES-01.svg" class="svg-icon icon-menu-monitor" height="20px" width="20px"></a></li>
  <li class="menu_fixed_op"><a href="#/instagram"><img src="./assets/images/Index/ICONES-03.svg" class="svg-icon icon-menu-monitor" height="20px" width="20px"></a></li>
</ul>
<ul class="menu_fixed" style="border-top: 1px dashed #1c5e6e;">
  <li class="menu_fixed_op"><a href="#/twitter"><img src="./assets/images/Index/ICONES-04.svg" class="svg-icon icon-menu-monitor" height="20px" width="20px"></a></li>
  <li class="menu_fixed_op"><a href="#/instagram"><img src="./assets/images/Index/ICONES-05.svg" class="svg-icon icon-menu-monitor" height="20px" width="20px"></a></li>
</ul>

<div id="menu_logo_down">
  <img src="./assets/images/Index/logolabic.svg">
</div>