<div id="result_conteudo_img" style="height:100%;" data-ng-init="functionImages()">
  <div class="loading" ng-show="dataLoadImageOFF">
    <div class="cssload-container">
      <div class="cssload-shaft1"></div>
      <div class="cssload-shaft2"></div>
      <div class="cssload-shaft3"></div>
      <div class="cssload-shaft4"></div>
      <div class="cssload-shaft5"></div>
      <div class="cssload-shaft6"></div>
      <div class="cssload-shaft7"></div>
      <div class="cssload-shaft8"></div>
      <div class="cssload-shaft9"></div>
      <div class="cssload-shaft10"></div>
    </div>
    <p class="loadingWordGrey">CARREGANDO:</p>
    <p class="loadingWordGrey">estamos realizando a sua requisição, essa operação pode demorar um pouco.</p>
  </div>

  <div class="loading" ng-show="dataLoadImage404">
    <center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
    <p class="loadingWordGrey">NENHUM IMAGEM ENCONTRADA</p>
    <p class="loadingWordGrey">tente outra categoria ou intervalo de tempo</p>
  </div>

  <div class="loading" ng-show="dataLoadImageERROR">
    <center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
    <p class="loadingWordGrey">ERROR</p>
    <p class="loadingWordGrey">Estamos tendo problemas ao carregar, volte mais tarde =)</p>
  </div>

  <!-- <a href="https://twitter.com/{{imgMos.user.screen_name}}/status/{{imgMos.user.id_str}}" target="_blank" style="color:white;"></a> -->

  <!--TODO POG criar diretiva-->
  <div class="clearfix"></div>
  <div ng-show="imgLoaded" class="twPagination">
    <div class="col-md-4">
      <button ng-disabled="buttonLess" class="btn btn-primary" ng-click="loadMore(-1, 'imgs')">
        <span class="glyphicon glyphicon-triangle-left"></span>
      </button>
    </div>
    <div class="col-md-4 text-center">
      {{analyticsParams.page}}
    </div>
    <div class="col-md-4 text-right">
      <button ng-disabled="buttonMore" class="btn btn-primary" ng-click="loadMore(1, 'imgs')">
        <span class="glyphicon glyphicon-triangle-right"></span>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="mosaico" class="geralTweets_result">
    <!--<a href='{{imgMos.media_url_https}}' class="swipebox" title=' <a href="https://twitter.com/{{imgMos.user.screen_name}}/status/{{imgMos.status.id_str}}" target="_blank" style="color:white;">Retweetado {{imgMos.count}} - "{{imgMos.text}}" @{{imgMos.user.screen_name}}</a>'>
      <img check-image ng-src="{{imgMos.media_url_https}}:thumb" on-error-src="img/image_not_found.jpg" class="img_TopImg_mosaico" width="{{alturaImg}}px" height="{{alturaImg}}px">
    </a>
    <div class="hover_img_TopImg_mosaico">
      <img ng-src="{{imgMos.media_url_https}}:thumb" on-error-src="img/image_not_found.jpg" class="img_TopImg_mosaico" alt="image" width="100%" height="100%">
    </div>-->
  </div>
</div>
