<div id="str_main_monitor" class="str_main twitter" ng-controller="mainMonitor">

  <div id="div1_monitor" class="str_division">

    <filter-keywords options="settings.keywords" filter="filter.theme"></filter-keywords>

    <aside ng-if="settings.components.map" id="str_menu_map" ui-view="map"></aside>

    <period-filter options="settings.period.values" filter="filter.period"></period-filter>

    <div id="str_display_tweet">
      <div class="display_tweet">
        <img src="img/icons/ICONE-TWEET.png" height="30px" width="35px">
        <p class="display_tweet_p">{{countRetweet}}</p>
        <p>Tweets acumulados</p>
      </div>

      <div class="display_tweet">
        <img src="img/icons/ICONE-IMAGEM.png" height="30px" width="35px">
        <p class="display_tweet_p">{{countImage}}</p>
        <p>Imagens acumulados</p>
      </div>
    </div>
  </div>

  <div id="div3_monitor" class="str_division">
    <div class="title_str">
      <ul class="title_str_dualOP">
        <a ui-sref="twitter.word">
          <li class="title_str_dualOP_1 select_title_division3 firstOpImg">
            <img src='img/icons/PALAVRAS.png' class="icon_menu_top" alt="image">
          </li>
        </a>
        <a ui-sref="twitter.tag">
          <li class="title_str_dualOP_2 select_title_division3">
            <img src='img/icons/HASHTAG.png' class="icon_menu_top" alt="image" height="25px" width="25px">
          </li>
        </a>
      </ul>
    </div>

    <aside id="result_word" ui-view="word&Tag"></aside>
  </div>

  <div id="div2_monitor" class="str_division">
    <div class="title_str">
      <ul class="title_str_menu_icon">
        <li ui-sref="twitter.tweet" class="select_title_division2 firstOpCont" title="Retweets">
          <img src='img/twitter/ICONES-09.svg'>
        </li>
        <li ui-sref="twitter.tweetstweets" class="select_title_division2" title="Tweets">
          <img src='img/icons/Mosaico.png' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.user" class="select_title_division2" title="Top Usuários">
          <img src='img/twitter/ICONES-10.svg' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.mentions" class="select_title_division2" title="Usuários mencionados">
          <img src='img/twitter/ICONES-12.svg' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.url" class="select_title_division2" title="Top Links">
          <img src='img/twitter/ICONES-13.svg' class="icon_menu_top" alt="image">
        </li>
        <!--
        <li ui-sref="twitter.img" class="select_title_division2" title="Imagens">
          <img src='img/twitter/ICONES-11.svg' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.mosaico" id="select_imgMosaico" class="select_title_division2" ng-click="filter.time = '7d'" title="Mosaico">
          <img src='img/icons/Mosaico.png' class="icon_menu_top" alt="image">
        </li>
        -->
      </ul>
    </div>

    <aside ui-view="conteudo" style="height:calc(100% - 50px); width:100%;"></aside>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });
  });
</script>
