<div id="str_main_monitor" class="str_main twitter" ng-controller="mainMonitor">

  <div id="div1_monitor" class="str_division" style="padding-top: 30px; align-content: center; vertical-align: center;">
    <div class="row">
    <filter-keywords options="settings.keywords" filter="filter.theme"></filter-keywords>

    <!-- <aside ng-if="settings.components.map" id="str_menu_map" ui-view="map"></aside> -->

    <period-filter options="settings.period.values" filter="filter.period"></period-filter>
    </div>
  </div>

  <div id="div4_monitor" class="str_division">
    
    <div id="str_display_tweet" class="row">
      <div class="col-md-6">
      <div class="display_tweet">
        <img src="img/icons/ICONE-TWEET.png" height="50%" width="auto">
      </div></div>
      
      <div class="col-md-6">
      <div class="display_tweet">
        <b class="display_tweet_p">{{countRetweet}}</b><br>
        <b>Tweets</b>
      </div></div>
    </div>

    <div id="str_display_tweet" class="row">
      <div class="col-md-6">
      <div class="display_tweet">
        <img src="img/icons/ICONE-IMAGEM.png" height="50%" width="auto">
      </div></div>

      <div class="col-md-6">
      <div class="display_tweet">
        <b class="display_tweet_p">{{countImage}}</b><br>
        <b>Imagens</b>
      </div></div>
    </div>
  </div>

  <div id="div3_monitor" class="str_division">
    <div class="title_str">
      <ul class="title_str_dualOP">
        <a ui-sref="twitter.word">
          <li class="title_str_dualOP_1 select_title_division3 firstOpImg">
            <img src='img/icons/PALAVRAS.png' class="icon_menu_top" alt="image">
          </li>
        </a>
        <a ui-sref="twitter.tag">
          <li class="title_str_dualOP_2 select_title_division3">
            <img src='img/icons/HASHTAG.png' class="icon_menu_top" alt="image" height="25px" width="25px">
          </li>
        </a>
      </ul>
    </div>

    <aside id="result_word" ui-view="word&Tag"></aside>
  </div>

  <div id="div2_monitor" class="str_division">
    <div class="title_str">
      <ul class="title_str_menu_icon">
        <li ui-sref="twitter.tweetstweets" class="select_title_division2 firstOpCont" title="Tweets">
          <img src='img/twitter/ICONES-09.png' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.tweet" class="select_title_division2" title="Retweets">
          <img src='img/twitter/ICONES-10.png' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.user" class="select_title_division2" title="Usuários mais ativos">
          <img src='img/twitter/ICONES-12.png' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.mentions" class="select_title_division2" title="Usuários mencionados">
          <img src='img/twitter/ICONES-08.png' class="icon_menu_top" alt="image">
        </li>
        <li ui-sref="twitter.url" class="select_title_division2" title="Top Links">
          <img src='img/twitter/ICONES-13.png' class="icon_menu_top" alt="image">
        </li>
        <!--<li ui-sref="twitter.mosaico" id="select_imgMosaico" class="select_title_division2" ng-click="filter.time = '7d'" title="Mosaico">
          <img src='img/icons/Mosaico.png' class="icon_menu_top" alt="image">
        </li>-->

        <li ui-sref="twitter.mosaico" class="select_title_division2" title="Imagens">
          <img src='img/twitter/ICONES-11.png' class="icon_menu_top" alt="image">
        </li>
        
      </ul>
    </div>

    <aside ui-view="conteudo" style="height:calc(100% - 50px); width:100%;"></aside>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".swipebox").swipebox({
      hideBarsDelay : 10000000
    });
     /* Custom */
    $(".firstOpCont").css( "opacity", "1" );

    $(".select_title_division2").click(function(){
      $(".select_title_division2").css( "opacity", "0.3" );

      $(this).css( "opacity", "1" );
    });

  });
</script>
