<div id="result_conteudo" style="height:100%;" data-ng-init="functionMention();">
  <div style="height:100%; width:100%;">

    <div id="loadingTwitterPosts" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorTwitterPosts" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyTwitterPosts" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>

    <div id="str_TwitterMentions" class="geralTweets_result">

      <div class="each_user_result" ng-repeat="mention in mentions">
        <a href="http://twitter.com/{{mention.screen_name}}" target="_blank">
          <p class="user_result_number">{{(analyticsParams.per_page)*(analyticsParams.page - 1) + mentions.indexOf(mention) + 1}}º</p>
          <img class="user_result_img" ng-src="https://avatars.io/twitter/{{mention.screen_name}}/small">
          <p class="user_result_name">@ {{mention.screen_name}}</p>
          <p class="user_result_count"><img src="img/icons/ICONE-TWEET.png" height="15px" width="15px;">{{mention.count}}</p>
        </a>
      </div>

      <!--TODO POG criar diretiva-->
      <div class="clearfix"></div>
      <div class="twPagination">
        <div class="col-md-4">
          <button ng-disabled="buttonLess" class="btn btn-primary" ng-click="loadMore(-1, 'mentions')">
            <span class="glyphicon glyphicon-triangle-left"></span>
          </button>
        </div>
        <div class="col-md-4 text-center">
          {{analyticsParams.page}}
        </div>
        <div class="col-md-4 text-right">
          <button ng-disabled="buttonMore" class="btn btn-primary" ng-click="loadMore(1, 'mentions')">
            <span class="glyphicon glyphicon-triangle-right"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>
