<div id="divHashtags" style="height:100%;" data-ng-init="functionHashTag();functionTopTags(filter.period,filter.theme);">
  <!-- <div style="height:auto; position: relative;"> -->
  <div id="str_highWord">
    <p class="title_str_highWord">Nuvem de hashtags</p>
    
    <div id="loadingTwitterTopHashTags" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorTwitterTopHashTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyTwitterTopHashTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>

    <div id="str_hashTag" class="strVertical_highWord"></div>
  </div>
<!-- 
    <div id="str_highWord" title="Clique para visualizar os ultimos retweets com #{{tag1.hashtag}}" ng-click="loadHastagsPub(tag1.hashtag);">
      <p class="title_str_highWord">#{{tagOne.hashtag}}</p>
      <p class="text_str_highWord"><span class="number_str_highWord">{{tagOne.count}}</span> vezes</p>
      
      <div id="str_hashTag" class="strVertical_highWord">
        <div title="Clique para visualizar os ultimos retweets com #{{tag.hashtag}}" ng-mouseenter="$parent.tagOne = tag" class="each_word" ng-repeat=" tag in tags" ng-click="filter.hashTag = tag.hashtag;">
          <p>#{{tag.hashtag}}</p>
          <p ng-if="tag.count == 1">{{tag.count}} vez</p>
          <p ng-if="tag.count != 1">{{tag.count}} vezes</p>
        </div>
      </div>
    </div> -->
  </div>

  <!-- <div class="str_fixed_words">
    <div class="fixed_words_title">
      <p>Temas mais frequentes</p>
    </div>

    <div id="loadingTwitterTopTags" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorTwitterTopTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyTwitterTopTags" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>
    
    <div id="str_topTags">
      <p ng-repeat="topTag in topTags" ng-click="filter.category = topTag.slug;">{{topTag.label}}</p>
    </div>
  </div> -->
</div>
