<div id="painel-posts">
  <div class="loading" ng-show="dataLoadTweetOFF">
    <div class="cssload-container">
      <div class="cssload-shaft1"></div>
      <div class="cssload-shaft2"></div>
      <div class="cssload-shaft3"></div>
      <div class="cssload-shaft4"></div>
      <div class="cssload-shaft5"></div>
      <div class="cssload-shaft6"></div>
      <div class="cssload-shaft7"></div>
      <div class="cssload-shaft8"></div>
      <div class="cssload-shaft9"></div>
      <div class="cssload-shaft10"></div>
    </div>
    <p class="loadingWordGrey">CARREGANDO:</p>
    <p class="loadingWordGrey">estamos realizando a sua requisição, essa operação pode demorar um pouco.</p>
  </div>

  <div class="loading" ng-show="dataLoadTweet404">
    <center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
    <p class="loadingWordGrey">NENHUM TWEET ENCONTRADO</p>
    <p class="loadingWordGrey">tente outra categoria ou intervalo de tempo</p>
  </div>

  <div class="loading" ng-show="dataLoadTweetERROR">
    <center><img src="img/icons/searching45.png" height="40px" width="40px"></center>
    <p class="loadingWordGrey">ERROR</p>
    <p class="loadingWordGrey">Estamos tendo problemas ao carregar, volte mais tarde =)</p>
  </div>

  <div ng-show="dataLoadTweetON" style="height:100%; width:100%;">
    <div id="painel-posts-list">
      <!--			<button ng-show="buttonBack" class="result_button result_button_back" ng-click='loadMoreTweetsChange(-1);' >VOLTAR</button>-->

      <div class="painel-posts-list-each" ng-repeat="twitte in twittes" >

        <img class="painel-posts-list-each-image" src="{{twitte.status.user.profile_image_url_https}}" title="{{twitte.status.user.description}}">
        <p class="painel-posts-list-each-title">@{{twitte.status.user.screen_name}}</p>
        <p class="painel-posts-list-each-title" ng-if="twitte.count">{{twitte.count}} RT </p>
        <p class="painel-posts-list-each-title" ng-if="!twitte.count"> </p>
        <p class="painel-posts-list-each-text">
          <a ng-if="twitte.count" title="Clique para visualizar o retweeter, @{{twitte.status.user.screen_name}}, no Twitter." href="https://twitter.com/{{twitte.status.user.screen_name}}/status/{{twitte.status.id}}" target="_blank">RT @{{twitte.status.retweeted_status.user.screen_name}}:{{twitte.status.retweeted_status.text}}</a>

          <a ng-if="!twitte.count" ng-if="" title="Clique para visualizar o retweeter, @{{twitte.status.user.screen_name}}, no Twitter." href="https://twitter.com/{{twitte.status.user.screen_name}}/status/{{twitte.status.id}}" target="_blank">RT @{{twitte.status.user.screen_name}}:{{twitte.status.text}} {{twitte.get('count')}}</a>
        </p>

        <p class="painel-posts-list-each-time">ÚLTIMO COMPARTILHAMENTO: {{twitte.status.timestamp_ms | date:'HH:mm'}} HS</p>
      </div>

      <button ng-show="buttonNext" class="result_button result_button_next" ng-click='loadMore(1);'></button>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function(){

    var postWidth = $(".painel-posts-list-each").width();
    
    var resultPostWidth = (33000 / postWidth) + 10;
    
    $(".painel-posts-list-each-text").css( "min-height", resultPostWidth+"px" );
  });
</script>
