<div id="painel-posts" data-ng-init="functionConteudoTweets();">
  <div style="height:100%; width:100%;">

    <div id="loadingTwitterPosts" class="handlers">
      <img src="img/icons/spinning-circles.svg">
      <p>estamos carregando os dados</p>
    </div>

    <div id="errorTwitterPosts" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>ocorreu um erro com esses requisição, tente outro parâmetro</p>
    </div>

    <div id="emptyTwitterPosts" class="handlers">
      <img src="img/icons/error_outline.svg">
      <p>não há dados dessa categoria nesse intervalo de tempo, tente outros parâmetros</p>
    </div>

    <div id="painel-posts-list">
      <!--			<button ng-show="buttonBack" class="result_button result_button_back" ng-click='loadMoreTweetsChange(-1);' >VOLTAR</button>-->

      <div class="painel-posts-list-each" ng-repeat="twitte in twittes" >

        <img class="painel-posts-list-each-image" src="{{twitte.status.retweeted_status.user.profile_image_url_https}}" title="{{twitte.status.user.description}}">
        <p class="painel-posts-list-each-title">@{{twitte.status.retweeted_status.user.screen_name}}
        <label class="painel-posts-list-each-time">ÚLTIMO COMPARTILHAMENTO: {{twitte.status.timestamp_ms | date:'HH:mm'}} HS</label></p><br>
        <p class="painel-posts-list-each-text">
          <a title="Clique para visualizar o retweeter, @{{twitte.status.user.screen_name}}, no Twitter." href="https://twitter.com/{{twitte.status.retweeted_status.user.screen_name}}/status/{{twitte.status.id_str}}" target="_blank"> {{twitte.status.retweeted_status.text}}</a>
        </p>
        <p class="painel-posts-list-each-title" ng-if="twitte.count">{{twitte.count}} RT </p>
        <p class="painel-posts-list-each-title" ng-if="!twitte.count"> </p>
        <hr style="width: 100%; size: 3px; color: lightgray; top: 10px;">
      </div>


      <!--TODO POG criar diretiva-->

      <div class="clearfix"></div>
      <div class="twPagination">
        <div class="col-md-4">
          <button ng-disabled="buttonLess" class="btn btn-primary" ng-click="loadMore(-1, 'rtw')">
            <span class="glyphicon glyphicon-triangle-left"></span>
          </button>
        </div>
        <div class="col-md-4 text-center">
          {{analyticsParams.page}}
        </div>
        <div class="col-md-4 text-right">
          <button ng-disabled="buttonMore" class="btn btn-primary" ng-click="loadMore(1, 'rtw')">
            <span class="glyphicon glyphicon-triangle-right"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>
