<div>
<!--
  <div ng-if="data.children.lenght" id="palavras_div2_sunburstZoomOFF_str">
    <div id="palavras_div2_sunburstZoomOFF">
      <p>Busque ou selecione uma palavra para gerar o gráfico</p>
    </div>
  </div>
-->

  <div id="palavras_div2_sunburstZoom"></div>

<!--
  <div id="palavras_div2_sunburstZoom_fixed">
    <div id="palavras_div2_sunburstZoom_words"><p></p></div>

    <div id="palavras_div2_sunburstZoom_action">
      <div class="palavras_div2_sunburstZoom_action_each">
        <img src="img/Index/ICONES-01.svg" class="svg-icon palavras_div2_sunburstZoom_action_each_img" >
        <div id="tweets_count_ofWord"></div>
        <p>Nº de tweets no tema</p>
      </div>
    </div>
  </div>
-->
</div>