<div class="col-md-9" ng-controller="gridController">
  	<div class="row">
      <label ng-click="showDialog(info)"><h4 ng-show="info.headline === null">[Título indisponível]</h4><h4><b>{{:: info.headline }}</b>&nbsp</h4></label>
  	</div>
    <div class="row">
      <h5>Link: <a href="#/clipper/noticia?id={{::info.id}}" target="_blank" style="display: inline">https://inep-enem-2017-web-dev.herokuapp.com/#/clipper/noticia?id={{::info.id}}</a></h5>
    </div>
  	<div class="row" ng-init="fonte = info.url.split('/')[2]">
  		<h5>Publicado por <a href="http://{{fonte}}" target="_blank" style="display: inline">{{::fonte}}</a> em <b ng-show="info.datePublished === null">[indisponível]</b>{{::info.datePublished | date:"dd/MM/yyyy 'às' HH'h'mm":'UTC-6'}}  e coletado em {{::info.dateCreated | date:"dd/MM/yyyy 'às' HH'h'mm":'UTC-6'}}</h5>
  	</div>
  	<div class="row">
  		{{::info.description}}
  	</div>
  	<br>
  	<div class="row">
  		<b>Tags: </b><input type="button" value="{{:: tag }}" ng-repeat = "tag in info.keywords | limitTo:15" ng-click="quickSearch('tag',tag)" >
  	</div>
</div>
<div class="col-md-3" ng-controller="gridController" ng-show="exibirImagem()">
  <button type="button" style="background:url({{:: info.image }}) center center;background-size: cover; width:100%; height: 25%;" class="thumbnail" ng-click="showDialog(info)"><h4 ng-show="info.image === null">Imagem indisponível</h4></button>
</div>