<div class="row">
  <div class="col-md-5" style="margin-left: 30px;">
    <button value="ComImagens" ng-click = "mudarExibicao()" id="exibicao"><h5>Modo de exibição</h5></button>
  </div>
  <div class="col-md-6">
    <button ><h5>Mostrar filtros</h5></button>
  </div>
</div>

<!-- <div class="row">

  <select id="inicioDia">
    <option style="display:none;" value="undefined">Dia</option>
    <option ng-repeat="dia in dias" value="{{dia}}">{{dia}}</option>  
  </select>
  <select id="inicioMes">
    <option style="display:none;" value="undefined">Mês</option>
    <option ng-repeat="mes in meses" value="{{mes.value}}">{{mes.label}}</option>
  </select>
  <select id="inicioHora">
    <option style="display:none;" value="undefined">Hora</option>
    <option ng-repeat="hora in horas" value="{{hora}}">{{hora}}</option>  
  </select>

  <select id="fimDia">
    <option style="display:none;" value="undefined">Dia</option>
    <option ng-repeat="dia in dias" value="{{dia}}">{{dia}}</option>  
  </select>
  <select id="fimMes">
    <option style="display:none;" value="undefined">Mês</option>
    <option ng-repeat="mes in meses" value="{{mes.value}}">{{mes.label}}</option>
  </select>
  <select id="fimHora">
    <option style="display:none;" value="undefined">Hora</option>
    <option ng-repeat="hora in horas" value="{{hora}}">{{hora}}</option>  
  </select>

<select id="selProd" class="selectpicker" data-style="btn-primary">
  <option style="display:none;" value="undefined">Produto</option>
  <optgroup ng-repeat="produto in prod" label="{{produto.label}}">
  <option ng-repeat="item in produto.submenu" value="{{item}}">{{item}}</option>          
  </optgroup> 
 </select>
<select id="selCat" class="selectpicker" data-style="btn-primary">
  <option style="display:none;" value="undefined">Categoria</option>
  <option ng-repeat="cat in categ" value="{{cat.label}}">{{cat.label}}</option>  
</select>
<select id="selCont" class="selectpicker" data-style="btn-primary">
  <option style="display:none;" value="undefined">Conteúdo</option>
  <option ng-repeat="conteudo in tipoCont" value="{{conteudo.label}}">{{conteudo.label}}</option>  
</select>
<button><a href="#/clipper" onclick="window.location.reload(true);"><img src="img/clipper/limpar.png"></a></button> -->
<!-- <div layout="row" align="center">
      <button ng-click="filtering()"><img src="img/clipper/filtrar.png">
      </button>
    </div> -->