<div name="searchForm" id="div1_palavras_search">
	<div class="search_div">
		<input id="palavras_search_words" ng-model="query" class="search_input" type="search" ng-model="search.text" placeholder="Busque por uma palavra">
<!--		<button class="search_button" ng-click=" $parent.wordPalavras = search.text;" >BUSCAR</button>-->
	</div>
	<img src="img/palavras/lupa.svg" class="svg-icon search_div_img">
</div>

<div class="loading" ng-show="dataLoadOFF">
	<center><img src="img/icons/Unknown.gif" height="66px" width="66px"></center>
	<p class="loadingWordGrey">CARREGANDO</p>
	<p class="loadingWordGrey" style="font-size:14px;">Por favor espere, pode demorar um pouco.</p>
</div>

<div ng-show="dataLoadON" id="div1_palavras_loop10">

	<p class="select_word_loop" ng-click="filter.word = wordv10.word" ng-repeat="wordv10 in word10" >{{wordv10.word}}</p>
</div>

<div ng-show="dataLoadON" id="div1_palavras_loop1000">
	<p><!--{{countTweets.count}} tweets | #### usuários--></p>
	<p class="select_word_loop" ng-click="filter.word = wordv1000.word" ng-repeat="wordv1000 in word1000 | filter:query">{{wordv1000.word}}</p>
</div>